{%extends 'blogs/base.html'%}
{%load bootstrap4%}
{%load static%}

{%block header%}
</link>

{%endblock header%}
{%block content%}

<!-- Page Content -->
<div class="jumbotron p-3  mt-5 p-md-5 text-white rounded bg-img">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic font-weight-bold">千里之行，始于足下</h1>
        <p class="lead my-3 ">--只有动手，学到的才是自己的</p>
    </div>
</div>
<div class="row main-content">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- Blog Post -->
        {%for blog in articles%}
        <div class="card mb-4">
            <img class="card-img-top" src="{%static 'blogs/img/django.png'%}" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">{{blog.headline}}</h2>
                <p class="card-text">{{blog.content}}</p>
                <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="#">Start Bootstrap</a>
            </div>
        </div>
        {%endfor%}
        <!--  
        <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid
                    atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero
                    voluptate voluptatibus possimus, veniam magni quis!</p>
                <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="#">Start Bootstrap</a>
            </div>
        </div>
 
        <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid
                    atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero
                    voluptate voluptatibus possimus, veniam magni quis!</p>
                <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="#">Start Bootstrap</a>
            </div>
        </div> -->

        <!-- Pagination -->
        {% if articles|length > 0 %}
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>
        {%endif%}
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        <!-- <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div> -->

        <!-- Categories Widget -->
        <div class="card ">
            <h5 class="card-header">文章分类</h5>
            <div class="card-body">
                <div class="row">
                    {% for category in categories %}
                    <div class="col">
                        <ul class="list-unstyled mb-0 d-flex">
                            <li class="flex-fill">
                                <a href="#">{{category.category_name}}</a>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">标签</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <ul class="list-unstyled mb-0 d-flex justify-content-start">
                            {%for tag in tags%}
                            <li class="mr-1 ">
                                <a class="text-muted" href="#">{{tag.tag_name}}</a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.row -->

{%endblock content%}